<%= image_tag "/assets/中尊寺.jpg",width: "100%",alt: "神社巡り" %>
<nav class="navbar navbar-expand navbar-dark">
<div class="container">

<ul class="navbar-nav">
  <li class="nav-item "><%= link_to "北海道地方", shrines_path(area_id: "1"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "東北地方", shrines_path(area_id: "2"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "関東地方", shrines_path(area_id: "3"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "中部地方", shrines_path(area_id: "4"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "近畿地方", shrines_path(area_id: "5"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "中国地方", shrines_path(area_id: "6"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "四国地方", shrines_path(area_id: "7"), class:"nav-link" %></li>
  <li class="nav-item"><%= link_to "九州地方", shrines_path(area_id: "8"), class:"nav-link" %></li>
</ul>
</div>
</nav>
<nav class="navbar navbar-expand navbar-dark">
<ul class="navbar-nav">
  <% @prefecture.each do |prefecture| %>
  <li class="nav-item"><%= link_to prefecture.name, shrines_path(prefecture_id: prefecture.id, area_id: prefecture.area), class:"nav-link" %></li>
  <% end %>
</ul>
</nav>

<h2>神社一覧</h2>
<div class="row">
<% @shrine.each do |shrine| %>
  <div class="col-md-6">
　  <div class="card mb-3">
　    <div class="row">
　    <div class="col-5">
  　     <h5>
        <%= link_to shrine.name, shrine_path(shrine) %>
        (<%= shrine.prefecture.name %>)
        </h5>
        <% if shrine.reviews.present? %>
        <h6>
        ☆☆☆☆☆<%= shrine.reviews.average(:evaluation).round(1) %>
        レビュー<%= shrine.reviews.count %>
        </h6>
        <% end %>
      </div>
      <div class="col-6">
      <div class="card-body">
        <% if shrine.reviews_pictures.present? %>
        <%= image_tag shrine.reviews_pictures.first.image.url, class: 'card-img-top' %>
        <% else %>
        <%= image_tag "/assets/default.png", :size =>'100x140', alt: "image", class: 'card-img-top' %>
        <% end %>
      </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>