<div class="text-center">
  <h2><%= @shrine.name %></h2>
    <h3>
      <%= @shrine.prefecture.name %>
      <%= @shrine.address %></h3>
      <%= link_to "レビューする(後で消す)", review_shrine_path %>
      <%= link_to "神社を削除する", @shrine, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
      <%= render 'wents/went_button', shrine: @shrine %>
      <%= render 'concerns/concern_button', shrine: @shrine %>
    
      
  <ul class="nav nav-tabs nav-justified mb-6">
    <li class="nav-item"><a href="#" class="nav-link">行った</a></li>
    <li class="nav-item"><a href="#" class="nav-link">気になる</a></li>
  </ul>
  
  <h2>レビュー</h2>
  <%= link_to "レビューを編集する", review_edit_shrine_path %>
  <% @review.each do |review| %>
  <div>星:<%= review.evaluation %></div>
  <div>コメント</div>
  <%= review.comment %>
  <% end %>
</div>