<h3><%= @shrine.name %></h3>
<h6>住所:
  <%= @shrine.prefecture.name %>
  <%= @shrine.address %>
</h6>

<% if current_user.admin? %>
<%= link_to "神社情報の編集", edit_shrine_path %><br>
<%= link_to "神社を削除する", @shrine, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>

<ul class="nav">
  <li>
    <h5>☆☆☆☆☆<%= @shrine.reviews.average(:evaluation).round(1) %></h5>
  </li>
  <li>
    <%= render 'reviews/review_button', shrine: @shrine %>
  </li>
  <li>
    <h5><%= @shrine.reviews.count %></h5>
  </li>
  <li>
    <%= render 'concerns/concern_button', shrine: @shrine %>
  </li>
  <li>
    <h5><%= @shrine.concerns.count %></h5>
  </li>
</ul>
    
<h3>レビュー<%= @shrine.reviews.count %></h3>

<%= render "reviews/index" %>