<div class="row">
  <% @reviews.each do |review| %>
  <div class="col-4">
  <div class="card">
    <%= image_tag review.shrine.reviews_pictures.first.image.url, class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to review.shrine.name, shrine_path(review.shrine.id) %></h5>
    <table class="table">
  　　<thead>
    　　<tr>
      　　<td>◉</td>
      　　<td>♡</td>
      　　<td>☆</td>
    　　</tr>
  　　</thead>
  　　<tbody>
    　　<tr>
      　　<td><%= review.shrine.reviews.count %></td>
      　　<td><%= review.shrine.concerns.count %></td>
      　　<td><%= review.shrine.reviews.average(:evaluation).round(1) %></td>
    　　</tr>
    　</tbody>
    </table>
  </div>
  </div>
  </div>
  <% end %>
</div>
