<div class="text-center">
  <h2>マイページ</h2>
  
<div class="row">
  
  <div class="col-2">
    <div class="card">
      <div class="card-title">
        <h3><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <%= image_tag @user.user_image.to_s, :size =>'120x120' %>
      </div>
        <%= link_to "ユーザー情報の編集", edit_user_path(@user) %>
    </div>
  </div>
  
  <div class="col-10">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item "><a href="<%=wents_user_path(current_user) %>" class="nav-link">行った</a><%= @count_user_reviews %></li>
      <li class="nav-item"><a href="<%=concerns_user_path(current_user) %>" class="nav-link">気になる</a><%= @count_user_concerns %></li>
    </ul>
  </div>
</div>

<%= render "shrine" %>