<div class="text-center">
  <h2>マイページ</h2>
  <div class="offset-md-4 col-md-4">
    <div class="card">
      <div class="card-title">
        <h3><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <%= image_tag @user.user_image.url, alt:"image",style: "max-height: 200px" %>
      </div>
        <%= link_to "ユーザー情報の編集", edit_user_path(@user) %>
    </div>
  </div>
  <div class="offset-md-1 col-md-10">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <%= link_to "行った◉", wents_user_path(current_user), class: 'btn btn-warning btn-block' %> 
        <%= @count_user_reviews %>
      </li>
      <li class="nav-item">
        <%= link_to "気になる♡", concerns_user_path(current_user), class: 'btn btn-light btn-block' %> 
        <%= @count_user_concerns %>
      </li>
    </ul>
  </div>
</div>
<%= render "shrine" %>