<% @reviews.each do |review| %>

<div class="card">
  <div class="card-body">
    <ul class="nav">
    <li><h5 class="card-title"><%= review.user.name %></h5></li>
    <li>
    <% if current_user==review.user %>
    <%= link_to "レビューを編集する", edit_review_path(review_id: review.id) %>
    <% end %>
    </li>
    </ul>
    
<%= render 'layouts/star', result: review.evaluation.to_f %>
    
  <div class="row">
    <div class="col-4">
      <div class="review-image">
      <% review.pictures.each do |picture| %>
      <%= image_tag picture.image.to_s, alt:"image" %>
      <% end %>
      </div>
    </div>
  </div>
    
  <% if review.comment? %>
  <p>コメント</p>
  <%= review.comment %>
  <% end %>
  </div>
</div>
<% end %>
