<% if result >= 4.5 %>
<div class="fa-yellow" style="display: inline-block">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
</div>
<%= result %>

<% elsif result >= 3.5 %>
<div class="fa-yellow" style="display: inline-block">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
</div>
<%= result %>

<% elsif result >= 2.5 %>
<div class="fa-yellow" style="display: inline-block">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
</div>
<%= result %>

<% elsif result >= 1.5 %>
<div class="fa-yellow" style="display: inline-block">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
</div>
<%= result %>

<% elsif result >= 0 %>
<div class="fa-yellow" style="display: inline-block">
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
</div>
<%= result %>
<% end %>